.header {
  overflow: hidden;
  text-align: center;
  background-color: #999999;
}
.header a {
  float: left;
  color: #ffffff;
  margin-left: 0.52rem;
  line-height: 1.8rem;
  margin-top: -0.08rem;
}
.header h3 {
  width: 14rem;
  font-size: 0.72rem;
  color: #ffffff;
  font-weight: normal;
  line-height: 1.8rem;
}
.middle {
  font-size: 0.48rem;
  color: #333333;
}
.middle .cart_item {
  padding: .6rem .4rem .6rem .4rem;
  border-bottom: 0.02rem solid #cccccc;
}
.middle .cart_item li {
  margin-bottom: 0.6rem;
}
.middle .cart_item li table {
  border-collapse: collapse;
}
.middle .cart_item li table tr:last-child {
  height: 0.6rem;
}
.middle .cart_item li table .pro_pic {
  vertical-align: top;
}
.middle .cart_item li table .pro_pic img {
  width: 5.46rem;
  height: 5.22rem;
}
.middle .cart_item li table .pro_model {
  vertical-align: top;
  padding-left: 0.4rem;
}
.middle .cart_item li table .pro_model a {
  color: #333333;
}
.middle .cart_item li table .price-wrap,
.middle .cart_item li table .count_wrap {
  width: 1.6rem;
  line-height: 1rem;
  padding-left: 0.4rem;
}
.middle .cart_item li table .total_wrap {
  line-height: 1rem;
  padding-left: 0.4rem;
}
.middle .cart_item li table .total_tag {
  width: 2.32rem;
}
.middle .cart_item li table .price {
  color: #cc3333;
}
.middle .cart_item li table .discount_info {
  text-align: right;
}
.middle .cart_item li table .discount_info a {
  color: #666666;
  padding-right: 0.4rem;
}
.middle .cart_item li table .total_tag {
  font-size: 0.48rem;
  color: #cc0000;
}
.middle .cart_item li table .total_tag .total {
  font-size: 0.6rem;
}
.middle .address_wrap {
  padding: .6rem .4rem .6rem .4rem;
}
.middle .address_wrap h5 {
  font-size: 0.52rem;
  color: #333333;
  font-weight: normal;
  line-height: 0.6rem;
}
.middle .address_wrap .receive_address {
  border: 0.02rem solid #333333;
  margin-top: 0.2rem;
}
.middle .address_wrap .receive_address address,
.middle .address_wrap .receive_address p {
  font-size: 0.48rem;
  color: #333333;
  font-style: normal;
  line-height: 0.8rem;
  text-indent: 0.16rem;
}
.middle .others_info {
  padding: 0 .4rem 8rem .4rem;
}
.middle .others_info dl {
  overflow: hidden;
  line-height: 1rem;
  font-size: 0.48rem;
  color: #666666;
}
.middle .others_info dl dt {
  float: left;
}
.middle .others_info dl dd {
  float: right;
}
.middle .others_info dl dd a {
  font-size: 0.48rem;
  color: #666666;
}
.footer {
  overflow: hidden;
  position: relative;
}
.footer .sum_up {
  float: left;
  font-size: 0.6rem;
  color: #333333;
  line-height: 2rem;
  width: 9.4rem;
  text-align: center;
}
.footer .sum_up .total_price {
  color: #cc0000;
}
.footer a {
  display: inline-block;
  font-size: 0.6rem;
  width: 5.6rem;
  color: #ffffff;
  background-color: #ff9900;
  line-height: 2rem;
  text-align: center;
}
.footer:before {
  content: "";
  width: 15rem;
  height: 0.2rem;
  display: block;
  background: linear-gradient(to top, #ececec, #f9f9f9);
  position: absolute;
  top: 0rem;
}
